<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.mapper.KeyboardMapper">

<select id="queryPerson" resultType="cn.bdqn.pojo.Keyboard">
   select * from Keyboard where id=#{id}
    </select>

<select id="queryAll" resultType="cn.bdqn.pojo.Keyboard">
    select * from Keyboard
    </select>

<delete id="dePerson">
    DELETE FROM keyboard WHERE id=#{id}
    </delete>

<delete id="inPerson">
    INSERT INTO `goods`.`keyboard` ( `type`, `brand`, `color`, `price`) VALUES ( #{type}, #{brand}, #{color}, #{price});
    </delete>

<delete id="upPerson">
    UPDATE `goods`.`keyboard` SET`type`= #{type},`brand`= #{brand}, `color` = #{color}, `price` = #{price}WHERE `id` = #{id};
    </delete>
</mapper>